@charset "utf-8";

* {
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input {
	-webkit-appearance: none;
	resize: none;
}

body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

img {
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
	/*为了照顾ie图片缩放失真*/
}

/* 初始化 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
}

em,
i {
	font-style: normal;
}

strong {
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #969696;
}

a:hover {
	color: #f60;
}

ul,
ol {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

img {
	border: none;
	vertical-align: middle;
}

$fsz:50;

@function rem($val) {
	@return $val / $fsz * 1rem;
}

// clearfix
.clearfix {
	zoom: 1;
	clear: both;
}

.clearfix:after,
.clearfix:before {
	content: ' ';
	display: block !important;
	clear: both;
	overflow: hidden;
}

/* 超过隐藏 */
.ellipsis {
	overflow: hidden;
	word-break: keep-all;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ellipsis2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

/* 左右浮动 */
.fl {
	float: left;
}

.fr {
	float: right;
}